@charset "ISO-8859-1";

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	padding: 0;
	background-color: #ff9d00;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23f27d00' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23e55f00' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23d84400' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23cb2c00' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23bf1600' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23b20300' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23a5000e' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%2398001c' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%238b0027' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%237e0030' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23710037' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%2364003b' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%2358003c' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234b003a' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0037' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23310030' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}

#navbar{
	width: 100%;
	height: 125px;
	background-color: black;
}

#logo > p{
	font-size: 40px;
	color:white;
}

#nav-list{
	list-style: none;
	font-size: 25px;
	padding: 50px;
}

#nav-list > li{
	margin-left: 15px;
}

a{
	text-decoration: none;
	color: white;
}

a:hover{
	color: orange;
}

.search-bar{
	width: 500px;
	height: 40px;
	border-radius: 15px;
	font-size: 20px;
	padding: 10px;
}

.login-btn{
	background-color: orange;
	
}

#title{
	background-color: black;
	color: orange;
	margin: 0 auto;
	margin-top: 15px;
	width: 625px;
	padding: 10px 15px;
	border-radius: 500px;
}


#main{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
}

.movie{
	width: 500px;
	margin: 15px;
	border-radius: 3px;
	box-shadow: 0.5px 4px 5px black;
	background-color: #FFC300;
	position: relative;
	overflow: hidden;
}

.movie-img{
	width: 100%;
	height: 100px;
}

.movie-title{
	color: black;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 10px;
}

.movie-title span{
	background-color: black;
	padding: 3px 10px;
	font-weight: bold;
	border-radius: 50%;
}

.movie-title span.green{
	color: green;
}

.movie-title span.yellow{
	color: yellow;
}

.movie-title span.red{
	color: red;
}

.movie-description{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white;
	padding: 15px;
	max-height: 100%;
	transform:translateY(101%);
	transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-description{
	transform: translateY(0);
}

.no-results{
	margin-top: 20px;
	text-decoration: underline;
	color: orange;
}

.page-list{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
	color: orange;
}

.page p{
	font-size: 40px;
}

.current p{
	font-size: 40px;
}

.page{
	padding: 20px;
	cursor: pointer;

}

.page.disabled{
	cursor: not-allowed;
	color: gray;
}

.current{
	padding: 5px 30px;
	background-color: black;
	border-radius: 50%;
	font-size: 40px;
	display: flex;
	align-items: center;
}

.btn{
	color: orange;
	background-color: black;
	font-weight: bold;
	border-radius: 100px;
}

.active{
	color: blue;
}